{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meal Planning{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="manifest" href="{% static 'global/manifest.webmanifest' %}">
    <meta name="theme-color" content="#4f46e5">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Einkaufsliste">
    <link rel="apple-touch-icon" href="{% static 'global/icons/icon-192.png' %}">

    <link rel="stylesheet" href="{% static 'global/css/layout.css' %}?v=3">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="app-layout">
        {% include "includes/sidebar.html" %}

        <main class="app-content">
            <div class="content-shell">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    <div class="toast-container">
        {% for message in messages %}
            <div class="toast {{ message.tags }}">
                <span class="toast-icon">✔</span>
                <span class="toast-text">{{ message }}</span>
            </div>
        {% endfor %}
    </div>

    {% block extra_js %}{% endblock %}

    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const toasts = document.querySelectorAll(".toast");

        toasts.forEach((toast) => {
            setTimeout(() => {
                toast.classList.add("hide");

                setTimeout(() => {
                    toast.remove();
                }, 250);
            }, 2000);
        });
    });

    if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js")
            .then((registration) => {
            console.log("Service Worker registriert:", registration);
            })
            .catch((error) => {
            console.error("Service Worker Fehler:", error);
            });
        });
    }
    </script>
</body>
</html>